<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.1//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias alias="Usuario" type="org.itskill.bean.UsuarioBean"></typeAlias>
		<typeAlias alias="Persona" type="org.itskill.bean.PersonaBean"></typeAlias>
		<typeAlias alias="Vista" type="org.itskill.bean.VistaBean"></typeAlias>
		<typeAlias alias="Menu" type="org.itskill.bean.MenuBean"></typeAlias>


		<typeAlias alias="ConfiguracionBean" type="org.itskill.bean.ConfiguracionBean"></typeAlias>
		<typeAlias alias="Articulo" type="org.itskill.bean.ArticuloBean"></typeAlias>
                <typeAlias alias="MarcaBean" type="org.itskill.bean.MarcaBean"></typeAlias>   
		<typeAlias alias="InventarioDocumento" type="org.itskill.bean.InventarioDocumentoBean"></typeAlias>


		<typeAlias alias="Estado" type="org.itskill.bean.EstadoBean"></typeAlias>
		<typeAlias alias="Marca" type="org.itskill.bean.MarcaBean"></typeAlias>
		<typeAlias alias="Clase" type="org.itskill.bean.ClasePlanContableBean"></typeAlias>
		<typeAlias alias="Grupo" type="org.itskill.bean.GrupoPlanContableBean"></typeAlias>
		<typeAlias alias="Cuenta" type="org.itskill.bean.CuentaPlanContableBean"></typeAlias>
		<typeAlias alias="SubCuenta"
			type="org.itskill.bean.SubCuentaPlanContableBean"></typeAlias>
		<typeAlias alias="Procedencia" type="org.itskill.bean.ProcedenciaBean"></typeAlias>

	</typeAliases>
	<mappers>
		<mapper resource="org/itskill/resources/xml/mapper/usuario-mapper.xml" />
		<mapper resource="org/itskill/resources/xml/mapper/persona-mapper.xml" />
		<mapper resource="org/itskill/resources/xml/mapper/vista-mapper.xml" />
		<mapper resource="org/itskill/resources/xml/mapper/vistaHijo-mapper.xml" />
		<mapper resource="org/itskill/resources/xml/mapper/configuracion-mapper.xml" />
		<mapper resource="org/itskill/resources/xml/mapper/articulo-mapper.xml" />


		<mapper resource="org/itskill/resources/xml/mapper/marca-mapper.xml" />
		<mapper resource="org/itskill/resources/xml/mapper/planContable-mapper.xml" />
		<mapper
			resource="org/itskill/resources/xml/mapper/inventarioDocumento-mapper.xml" />
                 <mapper resource="org/itskill/resources/xml/mapper/marca-mapper.xml" />


	</mappers>
</configuration>
